<section class="p-2 m-2">

    <div class="row my-5">
        {{#with newsBlock}}
        <h3 class="text-center">{{title}}</h3>

        {{> shoppost card=card}}

        {{/with}}
    </div>
    <hr>

    <div class="row">
        {{#with goodsBlock}}

        <div class="nav nav-tabs m-4">
            {{#each tabs}}
            <a class="nav-item nav-link mx-3 {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}"
                href="#">
                {{text}}</a>
            {{/each}}
        </div>

    </div>

    {{> shopcard card=card}}



    {{/with}}


    <hr>

    {{#with subscribe}}
    <div class="row g-3 p-2">
        <div class="card text-bg-dark">
            <div class="card-body">
                <h2 class="card-title">{{header}}</h2>
                <p class="card-text">{{description}}</p>
                {{#each buttons}}
                <a class="btn btn-primary" href={{link}}>{{text}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    <hr>

    {{> shopaction service=service}}

    <hr>

</section>