<div>

    <section>
        {{#with heading}}
        <div class="card">
            <div class="card-body">
                <div class="card">
                    {{#with main}}
                    <div class="card-body">
                        <p class="display-1">{{title}}</p>
                        <p class="text-muted">{{text}}</p>
                        <button class="btn btn-primary">{{button_text.solid}}</button>
                        <button class="btn btn-outline-primary">{{button_text.outline}}</button>
                    </div>
                    {{/with}}
                </div>
                <br>
                <div class="card">
                    {{#with second}}
                    <div class="card-body">
                        <p class="display-2">{{title}}</p>
                        <p>{{text}}</p>
                        <button class="btn btn-secondary">{{button_text.solid}}</button>
                        <button class="btn btn-outline-secondary">{{button_text.outline}}</button>
                    </div>
                    {{/with}}
                </div>
                <br>
                <div class="card">
                    {{#with subblock}}
                    <div class="card-body">
                        <p class="display-3">{{title}}</p>
                        <p>{{text}}</p>
                        <button class="btn btn-dark">{{button_text.solid}}</button>
                        <button class="btn btn-outline-dark">{{button_text.outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/with}}


        <br>
        {{#with nested_display}}
        <div class="card">
            <div class="card-body">
                <p class="display-1">{{title}}</p>
                {{#with children_display}}
                <div class="card">
                    <div class="card-body">
                        <p class="display-4">{{title}}</p>
                        <p class="text-muted">{{text}}</p>
                        <button class="btn btn-warning">{{button.text}}</button>
                    </div>
                </div>
                {{/with}}
                <br>
                <p class="display-6">{{header_text}}</p>
                <button class="btn btn-info">{{button.text}}</button>
            </div>
        </div>
        {{/with}}


        <br>
        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p>{{text}}</p>
                <p type="button" class="btn btn-link" href={{button.url}}>{{button.text}}</p>

                <br>

                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{#each list_name}}
                            <li>
                                <a type="button" class="btn btn-link" href={{url}}>{{text}}</a>

                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        {{/with}}



    </section>


</div>