<div>
    <b>{{sItemsName}}</b>
    <ul>
        {{#each sItems}}
        <li>
            <p>{{sParam1}}: {{sParam1_}}</p>
            <p>{{sParam2}}: {{sParam2_}}</p>
            <p>{{sParam3}}: {{sParam3_}}</p>
        </li>
        {{/each}}
    </ul>
</div>